#coverImg
{
    width: 100%;
}


.parallax-container {
    position: relative;
    overflow: hidden;
    height: 377px;
}

.parallax-container .parallax img {
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 76px;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}



#mainHeader {
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: -4px;
    margin-top: 13%;
    text-shadow: 0px 1px 58px #000000;
    font-size: 14vw;


}

h4 {
    text-align: center;
    font-size: 3.28rem;
}


#breweryElement
{
    max-width: 1280px;
    width: auto;

    background-color: rgba(157, 157, 51, .7);
}

.brewery-div,
.breweryInfo
{
    font-size: 19px;
    border-color: black;
    border-width: 1px;
    border-radius: 7px;
    border-style: solid;
    margin: 0% 3% 3% 3%;
    background-color: #212121;
    color: white;
}


#picture
{
    width: 150px;
}


.brewery-img
{
    height: 100px !important;
}

footer
{
    text-align: center;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
