#coverImg
{
    width: 100%;
}

#mainHeader
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 182px;

    padding-top: 2%;
    padding-bottom: -5%;

    text-align: center;
    letter-spacing: -11px;
    /* background-color: rgba(0, 0, 0, 0.25); */

    opacity: 29%;
    color: white;
}


#breweryElement
{
    width: auto;

    background-color: rgba(157, 157, 51, .7);
}

.brewery-div,
.breweryInfo
{
    font-size: 20px;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    margin: 2%;
    background-color: #212121;
    color: white;
}


#picture
{
    width: 150px;
}

.brewery-img
{
    height: 100px !important;
}

footer
{
    text-align: center;
}
