footer
{
	text-align: center;
}

#mainHeader
{
       font-family: 'Josefin Sans', sans-serif;
    font-size: 182px;
    padding-top: 2%;
    padding-bottom: -5%;
    text-align: center;
    color: white;
    letter-spacing: -11px;
    /* background-color: rgba(0, 0, 0, 0.25); */
    opacity: 29%;
}


#breweryElement
{
    margin: 5%;
    padding: 1%;
    width: auto;
    background-color: rgba(157, 157, 51, .7);
}

#coverImg {
    width: 100%;
}