/*header
{
    height: 800px;
    width: 100%;

    background-image: url('./glass1.jpg');
    background-repeat: none;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin-top: -4%;
}*/

footer
{
	text-align: center;
}

#mainHeader
{
    font-family: 'Anton', sans-serif;
    font-size: 800%;

    /*padding-top: 300px;*/

    text-align: center;

    color: white;
}


#breweryElement
{
    margin: 5%;
    padding: 1%;
    width: auto;

    background-color: rgba(157, 157, 51, .7);
}

/*#mainContent
{
    background-image: url('./beer1.jpg');
    background-repeat: none;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    padding: 1%;
}
*/

.brewery-img {
    max-height: 100px;
}