footer
{
	text-align: center;
}

#mainHeader
{
   font-family: 'Josefin Sans', sans-serif;
    font-size: 1361%;
    padding-top: 130px;
    text-align: center;
    color: white;
    letter-spacing: -11px;
}


#breweryElement
{
    margin: 5%;
    padding: 1%;
    width: auto;

    background-color: rgba(157, 157, 51, .7);
}

#coverImg {
    width: 100%;
}